<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CISON Conference Invitation</title>
</head>

<body
    style="font-family: Arial, sans-serif; font-size: 14px; line-height: 1.6; color: #000; max-width: 700px; margin: 0 auto; padding: 20px;">

    <p>Our Ref: CISON/CONF/2026/001 &nbsp;&nbsp;&nbsp; April 09, 2026</p>

    <p>Dear (Member's Name),</p>

    <p><strong>INVITATION TO THE 3RD INTERNATIONAL CONFERENCE AND 3RD PRE-CONFERENCE WORKSHOP OF THE CHARTERED INSTITUTE
            OF STATISTICIANS OF NIGERIA (CISON)</strong></p>

    <p>On behalf of the Governing Council of the Chartered Institute of Statisticians of Nigeria (CISON), it is with
        great pleasure that we invite you to participate in our 3rd International Conference themed <strong>"From Legacy
            to Leadership: 50 Years of Promoting Statistical Development in Nigeria."</strong> This event will take
        place from <strong>14th to 16th October 2026</strong>, in Abuja FCT, Nigeria. This will be preceded by its 3rd
        Pre-Conference Workshop on <strong>"Advanced Techniques for Spatial Data Analysis and Interactive
            Visualization"</strong> taking place from <strong>12th to 13th October 2026</strong> at the same venue. Both
        events will run from 9:00 am to 5:00 pm daily.</p>

    <p>This year's conference marks a historic milestone for the Institute as we celebrate 50 years in existence, having
        been initially created and established as the Nigerian Statistical Association (NSA) in 1976 and have evolved
        over the years, gloriously transiting into the Chartered Institute of Statisticians of Nigeria (CISON).</p>

    <p>The conference will provide a platform for reflection, knowledge exchange, and strategic dialogue on the future
        of statistics in national development among others, while the workshop is specially designed to equip
        participants with cutting-edge skills in spatial data handling and visualization, essential for modern
        statistical practice and policy-making.</p>

    <p>The subscriptions and participation fees for both the Conference and Pre-Conference Workshop are as tabularized
        below:</p>

    <table border="1" cellpadding="8" cellspacing="0" style="border-collapse: collapse; width: 100%;">
        <thead>
            <tr style="background-color: #f2f2f2;">
                <th style="text-align: left;">S/N</th>
                <th style="text-align: left;">ITEM</th>
                <th style="text-align: left;">MEMBER</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1.</td>
                <td>Conference fee (On-site) Early Bird</td>
                <td>N120,000.00</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Conference fee (On-site) Late Registration</td>
                <td>N150,000.00</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Conference fee (Virtual)</td>
                <td>N80,000.00</td>
            </tr>
            <tr>
                <td>4.</td>
                <td>Membership Transition fee</td>
                <td>N20,000.00</td>
            </tr>
            <tr>
                <td>5.</td>
                <td>Annual Dues</td>
                <td>N20,000.00</td>
            </tr>
            <tr>
                <td>6.</td>
                <td>Annual Dues (Retired member)</td>
                <td>N15,000.00</td>
            </tr>
            <tr>
                <td>7.</td>
                <td>CISON's Development Levy</td>
                <td>N20,000.00</td>
            </tr>
            <tr>
                <td>8.</td>
                <td>New Member Registration fee</td>
                <td>N50,000.00</td>
            </tr>
            <tr>
                <td>9.</td>
                <td>Pre-Conference fee</td>
                <td>N80,000.00</td>
            </tr>
        </tbody>
    </table>

    <p>Note that the membership transition fee is a one-off fee payable by former Nigerian Statistical Association (NSA)
        members transiting to CISON. Apart from the conference fee, new members are required to register with the sum of
        N50,000.00 and pay Annual Dues of N20,000.00 and Development Levy of N20,000.00. New members are not required to
        pay the transition fee. However, it should be noted that these fees do not cover the accommodation and
        transportation of participants during the events of 12th to 16th October, 2026.</p>

    <p>Registrations and payments of all funds should be made by visiting the CISON's website at <a
            href="http://www.cison.org.ng">www.cison.org.ng</a> and following the instructions therein. Kindly note that
        the "<strong>Early Bird</strong>wde" conference payment as indicated in the table above expires on <strong>June 30, 2026</strong>.
    </p>

    <p>Click the link to access the payment gateways: ---------------------------------------------------------------
    </p>

    <p>On behalf of the Governing Council and entire members of the Chartered Institute of Statisticians of Nigeria,
        please accept the assurances of our highest regards.</p>

    <p>Yours faithfully,</p>

    <br>
    <p>___________________________<br>
        Mrs. Ngozi T. Agboegbulem (FNSA)<br>
        Registrar</p>

</body>

</html>